body {
  background-color: rgb(251, 91, 91);
}
textarea,
#preview {
  padding: 15px;
  width: 600px;
  height: 300px;
  resize: none;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  margin-left: calc((100% - 600px) / 2);
}
#preview {
  overflow-y: scroll;
}
#preview img {
  width: 100%;
}
